body {
background-color:rgb(0, 0, 0);
}

#container {
display: grid;
width: 100%;
max-width: 500px;
height: 100%;
max-height: 500px;
position: absolute;
top: 25%;
right: 38%;

}

#btn {
    position: absolute;
    top: 75%;
    right: 50%;
}


