body {
  background-color:rgba(0, 0, 0, 0.74);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

button {
  background-color: rgba(255, 166, 0, 0.651);
  border: none;
  font-size: 36px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1
}

.grid {
  display: grid;
  width: 100%;
  max-width: 50vh;
  height: 100%;
  max-height: 50vh;
  grid-gap: 1px;
}

.refresh-button {
  margin-top: 25px;
}
